{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% block title %}Sign-Up{% endblock title %}
{% block content %}
	<div class="sign section--bg" data-bg="{% static 'img/section/section.jpg' %}">
		<div class="container">
            <div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- registration form -->
						<form action="{% url 'accounts:sign_up' %}" class="sign__form" method="post">
                            {% csrf_token %}
                            <div class="errors mb-2 mx-auto" style="font-size: 12px;">
                                {% for field in signup_form %}
                                    <p>
                                    {% for error in field.errors %}
                                    <div class="alert alert-danger p-2" role="alert">{{field.label_tag}} {{error}}</div>
                                    {% endfor %}
                                    </p>
                                {% endfor %}
                        
                                {% if signup_form.non_field_errors %}
                                <div class="alert alert-danger p-2" role="alert">
                                    {{signup_form.non_field_errors}}
                                </div>
                                {% endif %}
                            </div>
							<a href="index.html" class="sign__logo">
								<img src="{% static 'img/logo.svg' %}" alt="">
							</a>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Username" name="username" id="username">
							</div>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Email" name="email" id="email">
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="Password" name="password1" id="password1">
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="Enter Password Again" name="password2" id="password2">
							</div>

							<!-- <div class="sign__group sign__group--checkbox">
								<input id="remember" name="remember" type="checkbox" checked="checked">
								<label for="remember">I agree to the <a href="#">Privacy Policy</a></label>
							</div> -->
							
							<button class="sign__btn" type="submit">Sign up</button>

							<span class="sign__text">Already have an account? <a href="{% url 'accounts:sign_in' %}">Sign in!</a></span>
						</form>
						<!-- registration form -->
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}