{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
	<!-- home -->
	<section class="home">
		<!-- home bg -->
		<div class="owl-carousel home__bg">
			<div class="item home__cover" data-bg="{% static 'img/home/home__bg.jpg' %}"></div>
			<div class="item home__cover" data-bg="{% static 'img/home/home__bg2.jpg' %}"></div>
			<div class="item home__cover" data-bg="{% static 'img/home/home__bg3.jpg' %}"></div>
			<div class="item home__cover" data-bg="{% static 'img/home/home__bg4.jpg' %}"></div>
		</div>
		<!-- end home bg -->

		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="home__title"><b>Latest Movies</b></h1>

					<button class="home__nav home__nav--prev" type="button">
						<i class="icon ion-ios-arrow-round-back"></i>
					</button>
					<button class="home__nav home__nav--next" type="button">
						<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>

				<div class="col-12">
					<div class="owl-carousel home__carousel">
                        {% for latest_movie in latest_movies.results %}
						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="https://image.tmdb.org/t/p/w500/{{ latest_movie.poster_path }}" alt="">
									<a href="{% url 'movie_details' latest_movie.id %}" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="{% url 'movie_details' latest_movie.id %}">{{ latest_movie.title }}</a></h3>
									<span class="card__category">
										{{ latest_movie.first_air_date|slice:":4" }}
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>{{ latest_movie.vote_average }}</span>
								</div>
							</div>
							<!-- end card -->
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>

            <div class="row" style="margin-top: 5rem;">
                <div class="col-12">
					<h1 class="home__title"><b>Latest TV Shows</b></h1>
				</div>
				<div class="col-12">
					<div class="owl-carousel home__carousel">
						{% for tv_show in latest_tv_shows.results %}
                        <div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="https://image.tmdb.org/t/p/w500/{{ tv_show.poster_path }}" alt="">
									<a href="{% url 'tv_details' tv_show.id %}" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="{% url 'tv_details' tv_show.id %}">{{ tv_show.name }}</a></h3>
									<span class="card__category"></span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>{{ tv_show.vote_average }}</span>
								</div>
							</div>
							<!-- end card -->
						</div>
                        {% endfor %}
					</div>
				</div>
                <div class="col-12">
					<!-- <h1 class="home__title"><b>Latest TV Shows</b></h1> -->
					<button class="home__nav home__nav--prev" type="button">
						<i class="icon ion-ios-arrow-round-back"></i>
					</button>
					<button class="home__nav home__nav--next" type="button">
						<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>
			</div>
		</div>
	</section>
	<!-- end home -->

	<!-- Trending Movies -->
	<section class="section section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title">This Week's Trending Movies</h2>
				</div>
				<!-- end section title -->

                {% for trending_movie in trending_movies.results %}
                {% if not forloop.counter > 18%}
				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="https://image.tmdb.org/t/p/w500/{{ trending_movie.poster_path }}" alt="">
							<a href="{% url 'movie_details' trending_movie.id %}" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="{% url 'movie_details' trending_movie.id %}">{{ trending_movie.title }}</a></h3>
							<span class="card__category"></span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>{{ trending_movie.vote_average }}</span>
						</div>
					</div>
				</div>
				<!-- end card -->
                {% endif %}
                {% endfor %}

				<!-- section btn -->
				<!-- <div class="col-12">
					<a href="#" class="section__btn">Show more</a>
				</div> -->
				<!-- end section btn -->
			</div>
		</div>
	</section>
	<!-- end Trending Movies -->

    <!-- Trending Tv Shows -->
	<section class="section section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title">This Week's Trending Tv Shows</h2>
				</div>
				<!-- end section title -->

                {% for trending_tv_show in trending_tv_shows.results %}
                {% if not forloop.counter > 18%}
				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="https://image.tmdb.org/t/p/w500/{{ trending_tv_show.poster_path }}" alt="">
							<a href="{% url 'tv_details' trending_tv_show.id %}" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="{% url 'tv_details' trending_tv_show.id %}">{{ trending_tv_show.name }}</a></h3>
							<span class="card__category"></span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>{{ trending_tv_show.vote_average }}</span>
						</div>
					</div>
				</div>
				<!-- end card -->
                {% endif %}
                {% endfor %}

				<!-- section btn -->
				<!-- <div class="col-12">
					<a href="#" class="section__btn">Show more</a>
				</div> -->
				<!-- end section btn -->
			</div>
		</div>
	</section>
	<!-- end Trending Tv Shows -->
{% endblock content %}