{% extends 'base.html' %}
{% load static %}
{% block title %}Tv Series Details{% endblock title %}
{% block content %}
<!-- details -->
	<section class="section details">
		<!-- details background -->
		<div class="details__bg" data-bg="{% static 'img/home/home__bg.jpg' %}"></div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">
					<h1 class="details__title">{{ name }}</h1>
                    {{ episode_groups }}
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-10">
					<div class="card card--details card--series">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
								<div class="card__cover">
									<img src="https://image.tmdb.org/t/p/w500/{{ data.poster_path }}" alt="">
								</div>
							</div>
							<!-- end card cover -->

							<!-- card content -->
							<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
								<div class="card__content">
									<div class="card__wrap">
										<span class="card__rate"><i class="icon ion-ios-star"></i>{{ data.vote_average }}</span>

										<!-- <ul class="card__list">
											<li>HD</li>
											<li>16+</li>
										</ul> -->
									</div>

									<ul class="card__meta">
										<li><spa style="font-weight: bold;"n>Genre:</span>
										    {% for genre in data.genres %}
                                            <a>{{ genre.name }}</a>
                                            {% endfor %}
                                        </li>
										<li><span style="font-weight: bold;">Languages:</span>
                                            {% for lang in data.spoken_languages %}
                                            <span>{{ lang.english_name }}</span>
                                            {% if not forloop.last %}
                                            <span>,</span>
                                            {% endif %}
                                            {% endfor %}
                                        </li>
										<li><span style="font-weight: bold;">Release Date:</span>
                                            {% if data.first_air_date %}
                                            {{ data.first_air_date }}
                                            {% else %}
                                            -
                                            {% endif %}
                                        </li>
										<li><span style="font-weight: bold;">Last Air Date:</span>
                                            {% if data.last_air_date %}
                                            {{ data.last_air_date }}
                                            {% else %}
                                            -
                                            {% endif %}
                                        </li>
										<li><span style="font-weight: bold;">Number of Seasons:</span>{{ data.seasons|length }}</li>
										<li><span style="font-weight: bold;">Number of Episodes:</span>{{ data.number_of_episodes }}</li>
										<li><span style="font-weight: bold;">Status: </span>{{ data.status }}</li>
									</ul>

									<div class="card__description card__description--details">
										{{ data.overview }}
									</div>
								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
                    <div style="margin-top: 2rem;margin-left: 1rem;">
                        {% if watchlist_instance %}
                        <a href="{% url 'remove_from_watchlist' data.id %}">
                            <button type="button" class="form__btn" style="width: 13rem;">
                                Remove from Watchlist
                            </button>
                        </a>
                        {% else %}
                        <a href="{% url 'add_to_watchlist_tv' data.id %}">
                            <button type="button" class="form__btn">
                                Add to Watchlist
                            </button>
                        </a>
                        {% endif %}
                    </div>
				</div>
				<!-- end content -->

				<!-- player -->
				<div class="col-12 col-xl-6" style="margin-top: 3rem">
                    <iframe width="425" height="349" src="https://www.youtube.com/embed/{{ tv_movie.key }}" frameborder="0" allowfullscreen></iframe> 
				</div>
				<!-- end player -->


				<!-- accordion -->
				<div class="col-12 col-xl-6" style="margin-top: 3rem">
					<div class="accordion" id="accordion">
                        {% for season in data.seasons %}
						<div class="accordion__card">
							<div class="card-header" id="headingOne">
								<button type="button" data-toggle="collapse" data-target="#collapse{{ season.id }}" aria-expanded="true" aria-controls="collapse{{ season.id }}">
									<span>Season: {{ season.season_number }}{{ tv_key }}</span>
									<span>{{ season.episode_count }} Episodes Started Airing on 
                                        {% if season.air_date %}
                                        {{ season.air_date }}
                                        {% else %}
                                        -
                                        {% endif %}
                                    </span>
                                </button>
							</div>

							<div id="collapse{{ season.id }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<table class="accordion__list">
										<thead>
											<tr>
												<th>#</th>
												<th>Title</th>
												<th>Air Date</th>
											</tr>
										</thead>
                                            <tbody>
                                                {% for key, value in seasons.items %}
                                                {% if key == season.season_number|slugify %}
                                                {% for episode in value.episodes %}
                                                    <tr>
                                                        <th>{{ episode.episode_number }}</th>
                                                        <td>{{ episode.name }}</td>
                                                        <td>
                                                            {% if episode.air_date %}
                                                            {{ episode.air_date }}
                                                            {% else %}
                                                            -
                                                            {% endif %}
                                                        </td>
                                                        </a>
                                                    </tr>
                                                {% endfor %}
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
									</table>
								</div>
							</div>
						</div>
                        {% endfor %}
				<!-- end accordion -->
			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title">Discover</h2>
						<!-- end content title -->

						<!-- content tabs nav -->
						<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a>
							</li>
						</ul>
						<!-- end content tabs nav -->

						<!-- content mobile tabs nav -->
						<div class="content__mobile-tabs" id="content__mobile-tabs">
							<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="Comments">
								<span></span>
							</div>

							<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a></li>
								</ul>
							</div>
						</div>
						<!-- end content mobile tabs nav -->
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 col-xl-8">
					<!-- content tabs -->
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
							<div class="row">
								<!-- comments -->
								<div class="col-12">
									<div class="comments">
										<ul class="comments__list">
                                            {% if comments %}
                                            {% for comment in comments %}
											<li class="comments__item">
												<div class="comments__autor">
													<img class="comments__avatar" src="{% static 'img/no-user.png' %}" alt="">
													<span class="comments__name">{{ comment.user.username }}</span>
													<span class="comments__time">{{ comment.created_at }}</span>
												</div>
												<p class="comments__text">{{ comment.comment }}</p>
												<!-- <div class="comments__actions">
													<div class="comments__rate">
														<button type="button"><i class="icon ion-md-thumbs-up"></i>12</button>

														<button type="button">7<i class="icon ion-md-thumbs-down"></i></button>
													</div>

													<button type="button"><i class="icon ion-ios-share-alt"></i>Reply</button>
													<button type="button"><i class="icon ion-ios-quote"></i>Quote</button>
												</div> -->
											</li>
                                            {% endfor %}
                                            {% else %}
                                            <p style="color: white;">No comments</p>
                                            {% endif %}
										</ul>

										<form action="{% url 'tv_make_comment' data.id %}" method="post" class="form">
                                            {% csrf_token %}
											<textarea id="comment" name="comment" class="form__textarea" placeholder="Add comment"></textarea>
											<button type="submit" class="form__btn">Comment</button>
										</form>
									</div>
								</div>
								<!-- end comments -->
							</div>
						</div>
					</div>
					<!-- end content tabs -->
				</div>

				<!-- sidebar -->
				<div class="col-12 col-lg-4 col-xl-4">
					<div class="row">
						<!-- section title -->
						<div class="col-12">
							<h2 class="section__title section__title--sidebar">You may also like...</h2>
						</div>
						<!-- end section title -->

                        {% for similar_tv_show in similar_tv_shows.results %}
                        {% if not forloop.counter > 6 %}
                        {% if similar_tv_show.id != data.id %}
						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="https://image.tmdb.org/t/p/w500/{{ similar_tv_show.poster_path }}" alt="">
									<a href="{% url 'tv_details' similar_tv_show.id %}" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="{% url 'tv_details' similar_tv_show.id %}">{{ similar_tv_show.name }}</a></h3>
									<span class="card__category"></span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>{{ similar_tv_show.vote_average }}</span>
								</div>
							</div>
						</div>
						<!-- end card -->
                        {% endif %}
                        {% endif %}
                        {% endfor %}
					</div>
				</div>
				<!-- end sidebar -->
			</div>
		</div>
	</section>
	<!-- end content -->
{% endblock content %}