{% extends 'accounts/accounts_base.html' %}
{% block title %}Password Reset{% endblock title %}

{% block content %}

    <div class="mt-5">
        <h4 class="text-center" style="font-weight: 600;color:#FF586C;">Reset Password</h4>
    <!-- Reset Password -->
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="sign__group text-center">
                    <input type="email" class="sign__input mx-auto" placeholder="Email" name="email" id="email" style="margin: 0 auto;width: 23rem;border: 3px solid #FF586C;">
                </div>
                <div style="text-align:center;">
                    <button class="sign__btn" style="background-color: #FF586C;margin-top: 1rem;color: rgb(7, 1, 1);font-weight: 600;width: 6rem;" type="submit">
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}